.form{
    display: block;
    margin: 0 auto;
    padding-top: 5px;
    text-align: center;
}

label{
    text-align: center;
    padding-top: 5px;
}

textarea{
    padding-top: 5px;
}

.welcome-sign{
    text-align: center;
}

ul{
    text-align: center;
    list-style:none;
}